<div id="envio-msg" class="container">
    <h4>Digite os dados da nova disciplina:</h4>
    <form>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="email" class="form-control" id="nome">
        </div>
        <div class="form-group">
            <label for="msg">Mensagem:</label>
            <textarea class="form-control" id="msg" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-outline-secondary">Enviar</button>
    </form>
</div>