<div id="mural" ng-controller="disciplinasCtrl">
    <div class="container">
        <h6>Exibir:</h6>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>


        <br><br>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="disciplina in disciplinas">
                    <th scope="row">{{disciplina.period}}</th>
                    <td>{{disciplina.name}}</td>
                    <td>{{disciplina.type}}</td>
                    <td>{{disciplina.gridType}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>